<?xml version="1.0"?>

<!DOCTYPE rdf:RDF [
    <!ENTITY owl "http://www.w3.org/2002/07/owl#" >
    <!ENTITY xsd "http://www.w3.org/2001/XMLSchema#" >
    <!ENTITY srdl2 "http://knowrob.org/kb/srdl2.owl#" >
    <!ENTITY owl2xml "http://www.w3.org/2006/12/owl2-xml#" >
    <!ENTITY knowrob "http://knowrob.org/kb/knowrob.owl#" >
    <!ENTITY rdfs "http://www.w3.org/2000/01/rdf-schema#" >
    <!ENTITY qudt-unit "http://qudt.org/vocab/unit#" >
    <!ENTITY rdf "http://www.w3.org/1999/02/22-rdf-syntax-ns#" >
    <!ENTITY srdl2-comp "http://knowrob.org/kb/srdl2-comp.owl#" >
    <!ENTITY srdl2-cap "http://knowrob.org/kb/srdl2-cap.owl#" >
    <!ENTITY simhand "http://knowrob.org/kb/sim-hand.owl#" >
]>

<rdf:RDF xmlns="http://knowrob.org/kb/PR2.owl#"
     xml:base="http://knowrob.org/kb/PR2.owl"
     xmlns:srdl2-comp="http://knowrob.org/kb/srdl2-comp.owl#"
     xmlns:knowrob="http://knowrob.org/kb/knowrob.owl#"
     xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
     xmlns:owl2xml="http://www.w3.org/2006/12/owl2-xml#"
     xmlns:srdl2="http://knowrob.org/kb/srdl2.owl#"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
     xmlns:owl="http://www.w3.org/2002/07/owl#"
     xmlns:srdl2-cap="http://knowrob.org/kb/srdl2-cap.owl#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:xacro="http://www.ros.org/wiki/xacro">
    <owl:Ontology rdf:about="http://knowrob.org/kb/sim-hand.owl">
        <owl:imports rdf:resource="package://knowrob_srdl/owl/srdl2-comp.owl"/>
    </owl:Ontology>

  <!-- =========================================== -->
  <!-- |   Xacro Macros                          | -->
  <!-- =========================================== -->

  <xacro:macro name="link_with_joint" params="link_name joint_name urdf_name mesh_name">
    <owl:NamedIndividual rdf:about="${link_name}_SIMHAND">
      <rdf:type rdf:resource="&srdl2-comp;UrdfLink"/>
      <srdl2-comp:urdfName>${urdf_name}</srdl2-comp:urdfName>
      <srdl2-comp:succeedingJoint rdf:resource="${joint_name}_SIMHAND"/>
      <knowrob:pathToCadModel rdf:datatype="&xsd;string">package://robot_parts/hit_hand/meshes/hand/${mesh_name}.dae</knowrob:pathToCadModel>
    </owl:NamedIndividual>
  </xacro:macro>

  <xacro:macro name="joint_with_link" params="joint_name link_name">
    <owl:NamedIndividual rdf:about="${joint_name}_SIMHAND">
      <rdf:type rdf:resource="&srdl2-comp;ContinuousUrdfJoint"/>
      <srdl2-comp:succeedingLink rdf:resource="${link_name}_SIMHAND"/>
    </owl:NamedIndividual>
  </xacro:macro>

  <!-- =========================================== -->
  <!-- |   Finger Macro                          | -->
  <!-- =========================================== -->

  <xacro:macro name="finger" params="prefix urdf_prefix"> 
    <owl:NamedIndividual rdf:about="&simhand;${prefix}_SIMHAND">
        <rdf:type rdf:resource="&srdl2-comp;ComponentComposition"/>
        <rdf:type rdf:resource="&knowrob;${prefix}"/>
        <srdl2-comp:baseLinkOfComposition rdf:resource="&simhand;Carpus_SIMHAND"/>
        <srdl2-comp:endLinkOfComposition rdf:resource="&simhand;${prefix}Distal_SIMHAND"/>
    </owl:NamedIndividual>
  
    <xacro:joint_with_link joint_name="&simhand;Carpus_To_${prefix}Base" 
                           link_name="&simhand;${prefix}Base" />
 
    <xacro:link_with_joint link_name="&simhand;${prefix}Base" 
                           urdf_name="${urdf_prefix}_base_link" 
                           mesh_name="finger_base"
                           joint_name="&simhand;${prefix}Base_To_${prefix}Proximal"/>
  
    <xacro:joint_with_link joint_name="&simhand;${prefix}Base_To_${prefix}Proximal" 
                           link_name="&simhand;${prefix}Proximal" />
 
    <xacro:link_with_joint link_name="&simhand;${prefix}Proximal" 
                           urdf_name="${urdf_prefix}_proximal_link" 
                           mesh_name="finger_proximal"
                           joint_name="&simhand;${prefix}Proximal_To_${prefix}Middle"/>
  
    <xacro:joint_with_link joint_name="&simhand;${prefix}Proximal_To_${prefix}Middle" 
                           link_name="&simhand;${prefix}Middle" />
 
    <xacro:link_with_joint link_name="&simhand;${prefix}Middle" 
                           urdf_name="${urdf_prefix}_middle_link" 
                           mesh_name="finger_middle"
                           joint_name="&simhand;${prefix}Middle_To_${prefix}Distal"/>
  
    <xacro:joint_with_link joint_name="&simhand;${prefix}Middle_To_${prefix}Distal" 
                           link_name="&simhand;${prefix}Distal" />
      
    <owl:NamedIndividual rdf:about="&simhand;${prefix}Distal_SIMHAND">
      <rdf:type rdf:resource="&srdl2-comp;UrdfLink"/>
      <srdl2-comp:urdfName>${urdf_prefix}_distal_link</srdl2-comp:urdfName>
      <knowrob:pathToCadModel rdf:datatype="&xsd;string">package://robot_parts/hit_hand/meshes/hand/finger_distal.dae</knowrob:pathToCadModel>
    </owl:NamedIndividual>
  </xacro:macro>
  
  <!-- =========================================== -->
  <!-- |   Thumb special case, additional root   | -->
  <!-- =========================================== -->
  
  <owl:NamedIndividual rdf:about="&simhand;Thumb_SIMHAND">
      <rdf:type rdf:resource="&srdl2-comp;ComponentComposition"/>
      <rdf:type rdf:resource="&knowrob;Thumb"/>
      <srdl2-comp:baseLinkOfComposition rdf:resource="&simhand;Carpus_SIMHAND"/>
      <srdl2-comp:endLinkOfComposition rdf:resource="&simhand;ThumbDistal_SIMHAND"/>
  </owl:NamedIndividual>
  
  <xacro:joint_with_link joint_name="&simhand;Carpus_To_ThumbRoot" 
                         link_name="&simhand;ThumbRoot" />
 
  <xacro:link_with_joint link_name="&simhand;ThumbRoot" 
                         urdf_name="thumb_base"
                         mesh_name="right_thumb_base"
                         joint_name="&simhand;ThumbRoot_To_ThumbBase"/>

  <xacro:joint_with_link joint_name="&simhand;ThumbRoot_To_ThumbBase" 
                         link_name="&simhand;ThumbBase" />
 
  <xacro:link_with_joint link_name="&simhand;ThumbBase" 
                         urdf_name="thumb_base_link" 
                         mesh_name="finger_base"
                         joint_name="&simhand;ThumbBase_To_ThumbProximal"/>
  
  <xacro:joint_with_link joint_name="&simhand;ThumbBase_To_ThumbProximal" 
                         link_name="&simhand;ThumbProximal" />
 
  <xacro:link_with_joint link_name="&simhand;ThumbProximal" 
                         urdf_name="thumb_proximal_link" 
                         mesh_name="finger_proximal"
                         joint_name="&simhand;ThumbProximal_To_ThumbMiddle"/>
  
  <xacro:joint_with_link joint_name="&simhand;ThumbProximal_To_ThumbMiddle" 
                         link_name="&simhand;ThumbMiddle" />
 
  <xacro:link_with_joint link_name="&simhand;ThumbMiddle" 
                         urdf_name="thumb_middle_link" 
                         mesh_name="finger_middle"
                         joint_name="&simhand;ThumbMiddle_To_ThumbDistal"/>
  
  <xacro:joint_with_link joint_name="&simhand;ThumbMiddle_To_ThumbDistal" 
                         link_name="&simhand;ThumbDistal" />
      
  <owl:NamedIndividual rdf:about="&simhand;ThumbDistal_SIMHAND">
    <rdf:type rdf:resource="&srdl2-comp;UrdfLink"/>
    <srdl2-comp:urdfName>thumb_distal_link</srdl2-comp:urdfName>
    <knowrob:pathToCadModel rdf:datatype="&xsd;string">package://robot_parts/hit_hand/meshes/hand/finger_distal.dae</knowrob:pathToCadModel>
  </owl:NamedIndividual>

  <!-- =========================================== -->
  <!-- |   Simulation Hand Links                 | -->
  <!-- =========================================== -->
  
  <owl:NamedIndividual rdf:about="&simhand;Carpus_SIMHAND">
    <rdf:type rdf:resource="&srdl2-comp;UrdfLink"/>
    <srdl2-comp:urdfName>palm_link</srdl2-comp:urdfName>
    <knowrob:pathToCadModel rdf:datatype="&xsd;string">package://robot_parts/hit_hand/meshes/hand/right_palm.dae</knowrob:pathToCadModel>
      
    <srdl2-comp:succeedingJoint rdf:resource="&simhand;Carpus_To_IndexFingerBase_SIMHAND" />
    <srdl2-comp:succeedingJoint rdf:resource="&simhand;Carpus_To_MiddleFingerBase_SIMHAND" />
    <srdl2-comp:succeedingJoint rdf:resource="&simhand;Carpus_To_RingFingerBase_SIMHAND" />
    <srdl2-comp:succeedingJoint rdf:resource="&simhand;Carpus_To_ThumbRoot_SIMHAND" />
  </owl:NamedIndividual>
    
  <xacro:finger prefix="IndexFinger" urdf_prefix="fore_finger" />
  <xacro:finger prefix="MiddleFinger" urdf_prefix="middle_finger" />
  <xacro:finger prefix="RingFinger" urdf_prefix="ring_finger" />
  <xacro:finger prefix="Thumb" urdf_prefix="thumb" />
  
  <!-- =========================================== -->
  <!-- |   Simulation Hand Instance              | -->
  <!-- =========================================== -->

  <owl:NamedIndividual rdf:about="&simhand;SimulationHand">
    <rdf:type rdf:resource="&knowrob;Hand"/>

    <srdl2-comp:subComponent rdf:resource="&simhand;IndexFinger_SIMHAND"/>
    <srdl2-comp:subComponent rdf:resource="&simhand;MiddleFinger_SIMHAND"/>
    <srdl2-comp:subComponent rdf:resource="&simhand;RingFinger_SIMHAND"/>
    <srdl2-comp:subComponent rdf:resource="&simhand;Thumb_SIMHAND"/>
  </owl:NamedIndividual>
  
</rdf:RDF>
