
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: none repeat scroll 0% 0% #dadada;
}

#pkg-selection {
  width: 100%;
  top: 28px;
  border: 0px none;
  border-radius: 0;
  padding: 6px
}

#pkg-value {
  width: 100%;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  background: #c9c9c9;
  border-bottom: 3px solid #CCC;
}

#markers {
  width: 100%;
  height: 100%;
  border: 0 none;
}

#console {
  padding: 8px;
}

#library {
  padding: 8px;
  width: 100%;
}

#examplequery {
  width: 100%;
  height: 100%;
  border: 2px solid #CCC;
  overflow: auto;
}

#history {
  width:100%;
  height:80%;
  border: 2px solid #CCC;
}

#user_query {
  width:100%;
  height:20%;
  border: 2px solid #CCC;
  border-top: 0px;
}

#chart {
  width:100%;
  height:100%;
}

#designator {
  width:100%;
  height:100%;
}

#mjpeg {
  width:100%;
  height:100%;
}

#mjpeg img {
  width:auto;
  height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#editor-full-container{
    margin-left:-15px;
    margin-top:-18px;
}
#editor-full-size{
    width:100%;
    font-size:16px;
    border: 0 none;
}

#editor{
    width:100%;
    height:100%;
    border-color:#c9c9c9;
    font-size:16px;
}

#container {
    height: -o-calc(100% - 40px); /* opera */
    height: -webkit-calc(100% - 40px); /* google, safari */
    height: -moz-calc(100% - 40px); /* firefox */
    width: 100%;
    position: absolute;
    left: 0px;
    top: 25px;
    padding: 0;
    margin: 0;
    margin-left: -8px;
    background: none repeat scroll 0% 0% #dadada;
}

#file-list {
  margin-top: 10px;
  font-size: 16px;
}

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
    height: 25px;
    z-index: 5000;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 25px;
    z-index: 5000;
}

.menu ul {
    position: absolute;
    top: 20px;
    left: 0px;
 
    opacity: 0;
    background: #c9c9c9;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    
    border-left: 2px solid #A9A982;
    border-right: 2px solid #A9A982;
    border-bottom: 2px solid #A9A982;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
    z-index: 5000;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 25px;
    overflow: visible;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 0px 14px;
    line-height: 16px;
    text-decoration: none;
 
    border-left: 1px solid #a9a9b2;
    border-right: 1px solid #bfc0c8;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
 
    color: #555555;
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
 
.menu li:hover > a {
  color: #038;
}

.menu ul li a {
    padding: 4px 14px 4px 14px;
    margin: 0;
    border: none;
}
 
.menu ul li:last-child a { border: none; }
