<launch>
  <arg name="initial_package" default="rosprolog" />
  <arg name="initial_goal" default="use_module(library('semweb/rdf_db'))" />
  <arg name="num_pl_threads" default="2" />
  <arg name="num_ros_threads" default="4" />
  
  <param name="initial_package" type="string" value="$(arg initial_package)" />
  <param name="initial_goal" type="string" value="$(arg initial_goal)" />
  
  <param name="num_pl_threads" type="int" value="$(arg num_pl_threads)" />
  <param name="num_ros_threads" type="int" value="$(arg num_ros_threads)" />
  
  <node name="rosprolog" pkg="rosprolog" type="rosprolog_node" cwd="node" output="screen" />
  
  <node name="json_wrapper" pkg="rosprolog" type="json_ros.py" output="screen"/> 
</launch>
